<div ng-class="{'col-md-12':!c,'col-md-6':conversation}">
    <div class='page-header'>
        <div class='btn-toolbar pull-right'>
            <div class="btn-group">

                <!--a href="#!/" class="btn btn-danger"> <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                    Stop</a-->
                <a href="#!/" class="btn btn-default"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    Home</a>
            </div>
        </div>
        <h4>Capturing from {{capture.interfaces.join(", ")}} on port: {{capture.port}}</h4>
    </div>


    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th>Method</th>
            <th>Response</th>
            <th>Path</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="c in capture.httpInteractions | startFrom: 10*currentPage | limitTo: 10"
            ng-click="setConversation(c)" ng-class="{info:c == conversation}">
            <td>
                <div class="http-badge method-{{c.request.method}}">
                    {{c.request.method}}
                </div>
            </td>
            <td>
                <div class="http-badge response-{{c.response.status}}">
                    {{c.response.status}}
                </div>
            </td>
            <td>{{c.request.path}}</td>
        </tr>
        </tbody>
    </table>

    <ul class="pagination ">
        <li>
            <a ng-click="currentPage= currentPage -1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li ng-repeat="i in pages track by $index" ng-class="{'active':currentPage == $index}"><a
                ng-click="setPage($index)">{{ $index + 1 }}</a></li>
        <li>
            <a ng-click="currentPage= 1 + currentPage" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>

<div ng-if="conversation" class="col-md-6" ng-init="pane='request'">

    <ng-include src="'views/conversation.html'"></ng-include>

</div>


