
<div class=" text-center">
<div class='page-header'>
    <div class='btn-toolbar pull-right'>
        <div class="btn-group">


        </div>
    </div>
    <h4>HttpCap </h4>
    <p>Http Traffic Analyzer</p>
</div>
</div>
<div class="col-md-6">


    <div class="panel panel-primary">
        <div class="panel-heading">
            Running Captures
        </div>
        <ul class="list-group">
            <a href="#!/capture/{{capture.id}}" class="list-group-item clearfix" ng-repeat="capture in captures">

                <div class="row">
                    <div class="col-sm-3">
                        Port
                    </div>
                    <div class="col-sm-6">
                        Interfaces
                    </div>
                    <div class="col-sm-3">

                    </div>

                </div>
                <div class="row" >
                    <div class="col-sm-3">
                        <h3 style="margin-top: 10px">{{capture.port}}</h3>
                    </div>
                    <div class="col-sm-6">

                        <div style="margin-top: 10px">
                        <span ng-repeat="i in capture.interfaces" >
                            <span class="label label-primary" >{{i}}</span>
                        </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <form>
                            <div class="btn-group pull-right" role="group" aria-label="...">
                                <button class="btn btn-warning" ng-click="$event.preventDefault(); $event.stopPropagation();stopCapture(capture)" ng-if="capture.running"><span class="glyphicon glyphicon-stop"></span> Stop</button>
                                <button class="btn btn-danger" ng-click="$event.preventDefault(); $event.stopPropagation();deleteCapture(capture)" ng-if="!capture.running"><span class="glyphicon glyphicon-remove"></span> Remove</button>
                            </div>
                        </form>
                    </div>

                </div>
            </a>
            <li class="list-group-item list-group-item-info" ng-if="!captures.length">
                No captures are running on this machine right now.
            </li>
        </ul>

    </div>
</div>

<div class="col-md-6">

    <div class="panel panel-success">
        <div class="panel-heading">
            Start a new capture
        </div>
        <div class="panel-body clearfix">
            <div class="text-center" ng-if="!formData">
                <button class="btn btn-info" ng-click="createFormData()"><span class="glyphicon glyphicon-plus"></span> New</button>
            </div>
            <form ng-if="formData">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="alert alert-danger" ng-if="possiblePermissionError">
                            No network interfaces found. You may need to grant access to packet capture to the user
                            running this application.
                        </div>
                        <label>Network Interfaces</label>

                        <div class="checkbox" ng-repeat="interface in interfaces">
                            <label><input type="checkbox" ng-model="checkboxes[interface.name]"><strong>{{interface.name}}</strong> {{interface.description}}</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Port</label>
                            <input type="number" class="form-control" ng-model="formData.port" required/>
                            <small class="help-block">The server port to capture traffic from.</small>
                        </div>


                        <div class="form-group">
                            <label>Buffer Size</label>
                            <select class="form-control" ng-model="formData.bufferSize">
                                <option value="1024">1 MB</option>
                                <option value="2048">2 MB</option>
                                <option value="4096">4 MB</option>
                                <option value="8192">8 MB</option>
                                <option value="16384">16 MB</option>
                            </select>
                            <small class="help-block">This is the PCAP buffer size used.</small>
                        </div>
                    </div>
                </div>

                <div class="pull-right">
                    <a class="btn btn-warning" ng-click="cancelCapture()">Cancel</a>

                    <button type="submit"
                            class="btn btn-success"
                            ng-disabled="!formData.interfaces.length || ! formData.port"
                            ng-click="createCapture(formData)"><span class="glyphicon glyphicon-play"></span> Start</button>
                </div>

            </form>
        </div>

    </div>

</div>
</div>
